# Mac OS
.DS_Store
/.Trash
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public

# Personal
/.commit
/.webshare
/bin/ignore
/Games
/Private
/projects
/source

# Work
/.npmrc
/.openvpn-connect.json

# Parallels
/Applications\ (Parallels)
/Parallels

# Applications
/.ammonite
/.aws
/.base16_theme
/.bash_history*
/.bash_sessions
/.bokeh
/.bundle/cache
/.cache/bower
/.cargo
/.ccache
/.coffee_history
/.conan
/.conda/environments.txt
/.conda/pkgs/urls
/.conda/pkgs/urls.txt
/.config/configstore
/.config/QtProject
/.config/rq
/.config/texstudio
/.cups/lpoptions
/.dbvis
/.docker
/.dropbox
/.fasd
/.gem
/.gemrc
/.gnupg
/.gradle
/.htoprc
/.idea-build
/.IntelliJIdea14/restart/restarter
/.ipython
/.irb-history
/.ivy2
/.jline-jython.history
/.jpm/settings.json
/.jupyter/migrated
/.kube
/.lesshst
/.m2
/.minikube
/.mysql_history
/.ncftp
/.node_repl_history
/.node-gyp
/.npm
/.odbc.ini
/.oracle_jre_usage
/.pgpass
/.psql_history
/.pyenv
/.pyhistory
/.rvm
/.sbt
/.scala_history
/.sh_history*
/.ssh
/.subversion
/.vagrant*
/.vim/.netrwhist
/.viminfo
/.virtualenvs
/.vscode/extensions
/.wget-hsts
/.z
/.z.*
/.zcomp*
/.zhistory
/.zsh_history*
/.zsh-update
/Dropbox*
/IdeaProjects
/VirtualBox*
