# to edit: sudo chflags noschg ~/.gitconfig && sudo chown `whoami` ~/.gitconfig
# to lock: sudo chown root ~/.gitconfig && sudo chflags schg ~/.gitconfig

[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	whitespace = trailing-space,space-before-tab
[push]
	default = tracking
[diff]
	prompt = false
	renames = copies
	colorMoved = zebra
[alias]
	authors = !git_authors "$(pwd)"
	b = !git rev-parse --abbrev-ref HEAD
	br = branch
	ca = commit --amend
	ci = commit
	cl = clone
	co = checkout
	cp = cherry-pick
	f = fetch --prune
	find = "!git ls-files | grep --color -Ei"
	ltr = !cd ${GIT_PREFIX:-.} && git_ltr
	ph = push
	pl = pull
	r = reset
	s = status -uno
	su = status
	undo = reset HEAD~1 --soft
	wdiff = diff --color-words --word-diff
	rspec = run 'bin/rspec' '_spec\\.rb$'
	jest = run 'jest --config jest.config.js --' '_spec\\.js$|_spec\\.ts$'
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	commit = yellow bold
	frag = magenta bold
	meta = yellow
	new = green bold
	old = red bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[advice]
	pushNonFastForward = false
[branch]
	autosetuprebase = always
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	useconfigonly = true
[credential]
	helper = osxkeychain
[includeIf "gitdir:~/source/"]
	path = .gitconfig-user
[includeIf "gitdir:~/source/gitlab/"]
	path = .gitconfig-user-gitlab
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
