# Mac OS
.DS_Store
/.Trash
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public

# Personal
/.webshare
/bin/ignore
/Games
/Private
/projects
/source

# Work
/.go_service_tools
/.npmrc
/.openvpn-connect.json
/.profile_panama
/.profile_uacf

# Applications
/.aws
/.base16_theme
/.bash_history*
/.bokeh
/.bundle/cache
/.cache/bower
/.ccache
/.coffee_history
/.conan
/.conda/environments.txt
/.config/configstore
/.config/QtProject
/.config/rq
/.config/texstudio
/.cups/lpoptions
/.dbvis
/.docker
/.dropbox
/.fasd
/.gem
/.gemrc
/.gnupg
/.gradle
/.htoprc
/.idea-build
/.IntelliJIdea14/restart/restarter
/.ipython
/.irb-history
/.ivy2
/.jline-jython.history
/.jpm/settings.json
/.jupyter/migrated
/.lesshst
/.m2
/.mysql_history
/.ncftp
/.node_repl_history
/.node-gyp
/.npm
/.odbc.ini
/.oracle_jre_usage
/.pgpass
/.psql_history
/.pyenv
/.pyhistory
/.rvm
/.sbt
/.scala_history
/.sh_history*
/.ssh
/.vagrant*
/.viminfo
/.virtualenvs
/.wget-hsts
/.z
/.z.*
/.zcomp*
/.zsh_history*
/.zsh-completions
/anaconda*
/Dropbox*
/IdeaProjects
/VirtualBox*
