# Mac OS
.DS_Store
/.Trash
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public

# Personal
/.commit
/bin/ignore
/Games
/Private
/projects
/source

# Work
/.databrickscfg
/.gdk.yml
/.gitconfig-user-*
/.mcd
/.npmrc
/.local/state/pnpm/pnpm-state.json
/.openvpn-connect.json

# Parallels
/*Parallels*

# Wine
/.config/menus/applications-merged/
/.local/share/applications/wine/Programs
/.local/share/desktop-directories
/.local/share/mime/packages

# glances
/.local/share/glances/glances.log

# Poetry
/.local/share/virtualenvs

# Python pip/pipx user local
/.local/bin
/.local/lib
/.local/pipx/logs
/.local/pipx/shared
/.local/pipx/venvs

# Pyenv
/env/lib
/env/share
/env/bin
/env/pyvenv.cfg

# Minecraft
/Twitch
/.mputils/settings.dat
/.mono/registry/last-btime
/.config/.mono/keypairs

# 1Pass
/.config/op/config

# direnv
/.local/share/direnv

# mamba
/micromamba
/mambaforge

# Applications
/.ammonite
/.asdf
/.aws
/.aws-onelogin-auth
/.babel.json
/.base16_theme
/.bash_history*
/.bash_sessions
/.bokeh
/.bun
/.bundle/cache
/.bundle/config
/.cache/babl
/.cache/bower
/.cache/fontconfig
/.cache/node
/.cache/pre-commit
/.cache/prezto
/.cache/pyright-python
/.cargo
/.ccache
/.cht.sh/history
/.circleci
/.cmake
/.coffee_history
/.conan
/.conda/environments.txt
/.conda/pkgs/urls
/.conda/pkgs/urls.txt
/.config/.mono/certs/Trust/
/.config/configstore
/.config/gtk-2.0/
/.config/iterm2/AppSupport
/.config/QtProject
/.config/rq
/.config/simple-update-notifier
/.config/texstudio
/.config/yarn/global
/.cups/lpoptions
/.dbvis
/.docker
/.dropbox
/.eclipse
/.electron
/.electron-gyp
/.fasd*
/.finda
/.gem
/.gemrc
/.gitflow_export
/.gk
/.gnupg
/.gradle
/.htoprc
/.idea-build
/.IntelliJIdea14/restart/restarter
/.invision-studio
/.ipython
/.irb_history
/.irb-history
/.ivy2
/.jline-jython.history
/.jpm/settings.json
/.jupyter/migrated
/.keras/keras.json
/.kube
/.lesshst
/.local/share/gem
/.local/share/heroku
/.local/share/IsolatedStorage
/.local/share/nvim/shada/main.shada
/.local/share/pry/pry_history
/.local/share/recently-used.xbel
/.m2
/.matplotlib
/.minikube
/.mysql_history
/.ncftp
/.netrc
/.node_repl_history
/.node-gyp
/.npm
/.nvm
/.odbc.ini
/.onelogin
/.openhue
/.oracle_jre_usage
/.pgpass
/.pnpm-state/pnpm-state.json
/.pry_history
/.psql_history
/.pyenv
/.pyhistory
/.pylint.d
/.python_history
/.python-eggs
/.rbenv
/.rediscli_history
/.redisinsight*
/.rustup
/.sbt
/.scala_history
/.serverless
/.serverlessrc
/.sh_history*
/.solargraph
/.sqlite_history
/.ssh
/.subversion
/.swiftpm
/.terraform.d
/.toolbox
/.tox
/.travis/config.yml
/.travis/travis.sh
/.v8flags*
/.vagrant*
/.vim/.netrwhist
/.viminfo
/.virtualenvs
/.vscode/argv.json
/.vscode/extensions
/.wget-hsts
/.yarnrc
/.yo-rc-global.json
/.z
/.z.*
/.zcomp*
/.zhistory
/.zoomus/
/.zsh_history*
/.zsh_sessions
/.zsh-update
/Creative\ Cloud\ Files
/Dropbox*
/Google*Drive
/IdeaProjects
/VirtualBox*
