[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	whitespace = trailing-space,space-before-tab
[push]
	default = tracking
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path "$MERGED" -- "$LOCAL" "$REMOTE"
[diff]
	prompt = false
	renames = copies
	tool = Kaleidoscope
[mergetool "kaleidoscope"]
	cmd = ksdiff --merge --output "$MERGED" --base "$BASE" -- "$LOCAL" --snapshot "$REMOTE" --snapshot
	prompt = false
	trustExitCode = true
[merge]
	stat = true
	tool = Kaleidoscope
[alias]
	authors = !git_authors "$(pwd)"
	b = !git rev-parse --abbrev-ref HEAD
	br = branch
	ca = commit --amend
	ci = commit
	cl = clone
	co = checkout
	cp = cherry-pick
	f = fetch --prune
	find = "!git ls-files | grep --color -Ei"
	lg = !git_pretty_log
	ltr = !cd ${GIT_PREFIX:-.} && git_ltr
	name-change = !bash git_name_change
	parent = !git_parent
	pl = pull
	pt = !bash git_push_topic
	pu = push
	push-topic = !bash git_push_topic
	r = reset
	reauthor = !bash git_reauthor
	s = status -uno
	su = status
	undo = reset HEAD~1 --soft
	up = !git_up
	wdiff = diff --color-words --word-diff
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	commit = yellow bold
	frag = magenta bold
	meta = yellow
	new = green bold
	old = red bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[advice]
	pushNonFastForward = false
[branch]
	autosetuprebase = always
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	useconfigonly = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[credential]
	helper = osxkeychain
