[submodule ".log-ninja"]
	path = .log-ninja
	url = https://github.com/lexicalunit/log-ninja.git
	branch = lexicalunit/deploy
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:lexicalunit/prezto.git
	branch = lexicalunit
	ignore = dirty
[submodule ".tufte-pandoc-css"]
	path = .tufte-pandoc-css
	url = https://github.com/jez/tufte-pandoc-css.git
[submodule ".tufte-css"]
	path = .tufte-css
	url = https://github.com/edwardtufte/tufte-css.git
	branch = gh-pages
