"*":
  "atom-beautify":
    general:
      analytics: false
  "atom-notes":
    directory: "~/Dropbox/nv"
    extensions: [
      ".md"
      ".markdown"
    ]
  "atom-pair": null
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  "autocomplete-python":
    useKite: false
  "autoupdate-packages":
    lastUpdateTimestamp: 1483837964658
  "base16-syntax":
    matchUserInterfaceTheme: false
    scheme: "Solarized"
    style: "Light"
  "bracket-matcher": {}
  core:
    audioBeep: false
    closeEmptyWindows: false
    disabledPackages: [
      "exception-reporting"
      "autoflow"
      "autosave"
      "background-tips"
      "bookmarks"
      "encoding-selector"
      "metrics"
      "open-on-github"
      "update-package-dependencies"
      "welcome"
      "wrap-guide"
      "language-python"
      "activate-power-mode"
      "atom-metaweather"
      "python-yapf"
      "github"
      "linter-clang"
      "nvatom"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "format-shell"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "unity-ui"
      "solarized-light-syntax"
    ]
    titleBar: "custom"
  "cursor-indicator":
    displayPrefix: "|"
  editor:
    autoIndentOnPaste: false
    fontFamily: "Inconsolata"
    fontSize: 20
    invisibles:
      cr: "↩"
      eol: " "
      tab: "¬"
    preferredLineLength: 100
    scrollPastEnd: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "event-watch":
    displayColorStatusbar: "Olive"
    displayColorTooltip: "Blue"
    displayColorWarningStatusbar: "IndianRed"
    displayColorWarningTooltip: "IndianRed"
    displayFontWeightStatusbar: "900"
    displayFontWeightTooltip: "700"
    schedules:
      N: '''
        at 7:03am and 7:34am and 8:05am and 8:41am and 9:15am and 9:44am and
        10:15am and 11:15am and 12:15am and  1:15pm and 2:15pm and 3:15pm
        and 3:44pm and 4:19pm and 4:55pm and 5:27pm and 5:57pm and 6:30pm on
        Mon,Tue,Wed,Thu,Fri also at 7:30pm and 8:30pm and 9:30pm and 10:30pm
        and 11:30pm on Fri also at 12:30am on Sat also at 4:41pm and 5:15pm
        and 5:15pm and 5:49pm and 6:23pm and 6:57pm and 7:31pm and 8:05pm
        and 8:39pm and 9:13pm and 9:47pm and 10:21pm and 10:55pm and 11:29pm
        on Sat also at 12:03am on Sun
      '''
      S: '''
        at 6:24am and 6:56am and 7:27am and 7:58am and 8:34am and 9:09am and
        9:38am and 10:38am and 11:38am and 12:38am and 1:38pm and 2:38pm and
        3:09pm and 3:38pm and 4:13pm and 4:43pm and 5:19pm and 5:51pm on
        Mon,Tue,Wed,Thu,Fri also at 6:53pm and 7:53pm and 8:24pm and 9:24pm
        and 10:24pm and 11:24pm on Fri also at 4:00pm and 4:34pm and 5:08pm
        and 5:42pm and 6:16pm and 6:50pm and 7:24pm and 7:58pm and 8:32pm
        and 9:06pm and 9:40pm and 10:14pm and 10:48pm and 11:22pm on Sat
      '''
    tooltipFontWeight: "700"
    warnThresholdMinutes: 30
  "format-shell":
    indent: 4
    showNotifications: true
  "git-blame":
    columnWidth: 395
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected":
    onlyHighlightWholeWords: true
  "isotope-ui":
    minimalMode: true
  linter:
    lintOnChange: true
  "linter-flake8":
    executablePath: "~/bin/flake8"
    maxLineLength: 100
  "linter-pep8":
    maxLineLength: 300
    pep8ExecutablePath: "/usr/local/bin/pep8"
  "linter-ui-default":
    hidePanelWhenEmpty: true
    panelHeight: 122
    showPanel: true
    showProviderName: true
  "linter-write-good":
    additionalArgs: "--no-tooWordy"
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
      "source.gfm.notes"
    ]
    liveUpdate: false
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "multi-wrap-guide":
    columns: [
      72
      80
      100
    ]
    locked: true
  "no-title-bar":
    automaticTrafficLightsPaddingOffset: 1
  nvatom:
    directory: "~/Dropbox/nv"
  "one-light-ui":
    fontSize: 11
    hideDockButtons: true
  "pretty-json": {}
  "python-yapf":
    checkOnSave: false
    yapfPath: "~/bin/yapf"
    yapfStyle: "{based_on_style: pep8, column_limit: 100}"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.c++"
      "source.css"
      "source.css.less"
      "source.gfm"
      "source.gfm.notes"
      "source.go"
      "source.java"
      "source.js"
      "source.json"
      "source.litcoffee"
      "source.makefile"
      "source.plist"
      "source.python"
      "source.shell"
      "source.sql"
      "source.yaml"
      "text.git-commit"
      "text.html.basic"
      "text.html.erb"
      "text.plain"
      "text.plain.null-grammar"
      "text.todo"
    ]
  "tab-control":
    autoSaveChanges: true
  tabs: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace: {}
".basic.html.text":
  editor:
    softTabs: true
    tabLength: 2
".c.source":
  editor:
    softTabs: true
    tabLength: 4
".cmake.source":
  editor:
    softTabs: true
    tabLength: 4
".coffee.source":
  editor:
    softTabs: true
    tabLength: 2
".css.less.source":
  editor:
    softTabs: true
    tabLength: 2
".dockerfile.source":
  editor:
    softTabs: true
    tabLength: 4
".gfm.nvatom.source":
  editor:
    softTabs: true
    tabLength: 2
".gfm.source":
  editor:
    softTabs: true
    tabLength: 4
".git-commit.text":
  "multi-wrap-guide":
    rows: [
      50
    ]
".go.source":
  editor:
    softTabs: false
    tabLength: 4
".html.mustache.text":
  editor:
    tabLength: 2
".js.source":
  editor:
    softTabs: true
    tabLength: 2
".json.source":
  editor:
    softTabs: true
    tabLength: 2
".null-grammar.plain.text":
  editor:
    softTabs: true
    tabLength: 4
".python.source":
  editor:
    autoIndent: true
".raml.source":
  editor:
    softTabs: true
    tabLength: 2
".ruby.source":
  editor:
    softTabs: true
    tabLength: 2
".scala.source":
  editor:
    softTabs: true
    tabLength: 2
".shell.source":
  editor:
    softTabs: true
    tabLength: 4
".source.sql":
  editor:
    softTabs: true
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
