"*":
  "atom-notes":
    directory: "~/Dropbox/nv"
    extensions: [
      ".md"
      ".markdown"
      ".txt"
    ]
    orderByFuzzyFileNameMatch: true
  "autoupdate-packages":
    lastUpdateTimestamp: 1483837964658
  core:
    audioBeep: false
    closeEmptyWindows: false
    disabledPackages: [
      "about"
      "archive-view"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-snippets"
      "autoflow"
      "autosave"
      "background-tips"
      "bookmarks"
      "dev-live-reload"
      "encoding-selector"
      "exception-reporting"
      "fuzzy-finder"
      "git-diff"
      "github"
      "go-to-line"
      "grammar-selector"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-css"
      "language-gfm"
      "language-git"
      "language-go"
      "language-html"
      "language-hyperlink"
      "language-java"
      "language-javascript"
      "language-json"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-python"
      "language-ruby-on-rails"
      "language-ruby"
      "language-rust-bundled"
      "language-sass"
      "language-shellscript"
      "language-source"
      "language-sql"
      "language-todo"
      "language-toml"
      "language-typescript"
      "language-xml"
      "language-yaml"
      "line-ending-selector"
      "metrics"
      "open-on-github"
      "package-generator"
      "snippets"
      "styleguide"
      "symbols-view"
      "tree-view"
      "welcome"
      "wrap-guide"
      "typewriter"
    ]
    openEmptyEditorOnStart: false
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "native-ui"
      "pen-paper-coffee-syntax"
    ]
    titleBar: "custom"
    useTreeSitterParsers: true
  "cursor-indicator":
    displayPrefix: "|"
  editor:
    autoIndentOnPaste: false
    fontFamily: "IBMPlexMono, Inconsolata"
    fontSize: 18
    invisibles:
      cr: "↩"
      eol: " "
      tab: "¬"
    preferredLineLength: 100
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 2
  "highlight-selected":
    onlyHighlightWholeWords: true
  "markdown-preview-plus":
    grammars: [
      "source.gfm.notes"
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain.null-grammar"
      "text.plain"
    ]
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "native-ui":
    ui:
      macTransparency: false
  "no-title-bar":
    automaticTrafficLightsPaddingOffset: 1
  "spell-check":
    grammars: [
      "source.gfm.notes"
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain.null-grammar"
      "text.plain"
    ]
  tabs:
    alwaysShowTabBar: false
  typewriter:
    drawTextLeftAligned: true
  welcome:
    showOnStartup: false
