@import "syntax-variables";
@import "ui-variables";

// better indent guides for light syntax themes
.indent-guide-improved {
  background-color: @syntax-indent-guide-color;
  &.indent-guide-stack {
    background-color: darken(@syntax-indent-guide-color, 30%);
    &.indent-guide-active {
      background-color: darken(@syntax-indent-guide-color, 40%);
    }
  }
}

// better jumpy style for the native-ui theme
.theme-native-ui {
  atom-text-editor /deep/ {
    .jumpy-label {
      color: @text-color;
      background-color: @base-background-color;
      border-radius: 5px;
      border-bottom: 1px solid @tab-bar-border-color;
      box-shadow: inset 0 0 0 1px @tab-bar-border-color;
      padding-left: .4em;
      padding-right: .4em;
      top: -1em;
      left: -.25em;
    }
  }
}

// make cursor pulse instead of blink
atom-text-editor.editor {
  .cursor {
    transition: opacity .5s;
    border-left: 2px solid @text-color-info;
  }
}

// better highlight-selected for light themes
atom-text-editor.editor {
  & when (luminance(@syntax-wrap-guide-color) > 50%) {
    .highlight-selected .region {
      border-color: fadeout(contrast(@syntax-background-color), 50%) !important;
      background-color: fadeout(@syntax-selection-color, 50%) !important;
    }
  }
}

// ensure subpixel-antialiased
body * {
  -webkit-font-smoothing: subpixel-antialiased !important;
}

// disable italic comments and source code in any syntax theme
atom-text-editor.editor {
  .syntax--comment, .syntax--source * {
    font-style: normal !important;
  }
}

#atom-nicer-invisibles() {
  // More subtle invisibles for light syntax themes, while
  // retaining more visible invisibles for dark syntax themes.
  atom-text-editor.editor {
    & when (luminance(@syntax-background-color) < 50%) {
      .invisible-character {
        opacity: 0.9;
      }
    }

    & when (luminance(@syntax-background-color) >= 50%) {
      .invisible-character {
        opacity: .5;
        color: darken(@syntax-background-color, 30%)
      }
    }
  }
}
#atom-nicer-invisibles;

// make final wrap guide stand out more
atom-text-editor.editor {
  .vertical .multi-wrap-guide:last-child .multi-wrap-guide-line {
    background-color: fadeout(red, 60%);
  }
}

// less ugly soft-wrap-indicator
.soft-wrap-indicator {
  color: inherit !important;
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
    color: inherit !important;
  }

  &:active {
    text-decoration: none !important;
    color: inherit !important;
  }

  &.lit {
    color: #10BB10 !important;
    text-shadow: none !important;
  }
}

// 3D effects for tree-view and minimap
#atom-perspective() {
  @viewing-distance: 12in;
  @rotation: 10deg;
  .tree-view-scroller {
    transform: translateY(-10vh) perspective(@viewing-distance) rotateY(@rotation);
    padding-top: 12vh;
    padding-bottom: 12vh;
    transform-origin: left;
    width: 120%;
    height: 120%;
  }
  body /deep/ atom-text-editor-minimap {
    transform: perspective(@viewing-distance) rotateY(-@rotation);
    transform-origin: right;
  }
}
// #atom-perspective; // <-- uncomment to enable
