@import "syntax-variables";
@import "ui-variables";

// fixes tooltip pop-under issue with native-ui
// see: https://github.com/fv0/native-ui/issues/84
.theme-native-ui {
  .tooltip { z-index: 1000 !important; }
  .atom-dock-resize-handle { z-index: 100 !important; }
}

// better line-number bracket-matcher color based on theme
.line-number.bracket-matcher {
  & when (luminance(@syntax-background-color) <= 50%) {
    background-color: lighten(average(@syntax-background-color, @syntax-selection-color), 10%);
  }
  & when (luminance(@syntax-background-color) > 50%) {
    background-color: darken(average(@syntax-background-color, @syntax-selection-color), 10%);
  }
}

// easier to see bracket-matcher underlines
.region.bracket-matcher {
  border-bottom-style: solid;
}

// make cursor lines stand out more
.cursor-line {
  background-color: fade(average(@syntax-background-color, @syntax-selection-color), 50%) !important;
}

// remove dock toggle buttons
.atom-dock-toggle-button {
  display: none;
}

// get rid of annoying "Project" and "Linter" widgets at the top of their docks
.tab-bar.inset-panel {
  &[location="left"], &[location="bottom"], &[location="right"] {
    display: none;
  }
}

// make cursor pulse instead of blink
atom-text-editor.editor {
  .cursor {
    transition: opacity .5s;
    border-left: 2px solid @text-color-info;
  }
}

// better highlight-selected for light themes
atom-text-editor.editor {
  & when (luminance(@syntax-wrap-guide-color) > 50%) {
    .highlight-selected .region {
      border-color: fadeout(contrast(@syntax-background-color), 50%) !important;
      background-color: fadeout(@syntax-selection-color, 50%) !important;
    }
  }
}

// ensure subpixel-antialiased
body * {
  -webkit-font-smoothing: subpixel-antialiased !important;
}

// disable italic comments and source code in any syntax theme
atom-text-editor.editor {
  .syntax--comment, .syntax--source * {
    font-style: normal !important;
  }
}

#atom-nicer-invisibles() {
  // More subtle invisibles for light syntax themes, while
  // retaining more visible invisibles for dark syntax themes.
  atom-text-editor.editor {
    & when (luminance(@syntax-background-color) < 50%) {
      .invisible-character {
        opacity: 0.9;
      }
    }

    & when (luminance(@syntax-background-color) >= 50%) {
      .invisible-character {
        opacity: .5;
        color: darken(@syntax-background-color, 30%)
      }
    }
  }
}
#atom-nicer-invisibles;
