@import "syntax-variables";
@import "ui-variables";

// ensure subpixel-antialiased
body * {
    -webkit-font-smoothing: subpixel-antialiased !important;
}

// disable italic comments in any syntax theme
atom-text-editor::shadow {
    .comment {
        font-style: normal !important;
    }
}

// make active tab stand out more
.tab-bar {
    .tab.active .title {
        background-color: @background-color-selected !important;
        color: @text-color-selected !important;
    }
}

// make current file in tree-view stand out more
.tree-view {
    .list-item.selected::before {
        background-color: @background-color-selected !important;
        color: @text-color-selected !important;
    }
}

// separate tree view and text editor more clearly
.tree-view-scroller {
    border-right: 1px solid @syntax-wrap-guide-color !important;
}

// more subtle invisibles for dark themes
atom-text-editor::shadow {
    & when (lightness(@syntax-background-color) <= 50%) {
        .invisible-character {
            color: #504949;
            opacity: 0.5;
        }
        .indent-guide {
            opacity: .5;
        }
    }
}

// make final wrap guide stand out more
atom-text-editor::shadow {
  .vertical .multi-wrap-guide:last-child .multi-wrap-guide-line {
    background-color: fadeout(red, 60%);
  }
}

// less ugly soft-wrap-indicator
.soft-wrap-indicator {
    color: inherit !important;
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
        color: inherit !important;
    }

    &:active {
        text-decoration: none !important;
        color: inherit !important;
    }

    &.lit {
        color: #10BB10 !important;
        text-shadow: none !important;
    }
}

// less ugly opened-files view
.of-highlighted, ul.tab-bar > li.tab.of-highlighted {
    background-color: inherit;
    transition-property: none;
    transition-duration: 0;
}

.of-unhighlighted, ul.tab-bar > li.tab.of-unhighlighted {
    background-color: inherit;
    transition-property: none;
    transition-duration: 0;
}

.file-list.opened-files {
    box-shadow: none;
    border-bottom: 1px solid @syntax-wrap-guide-color;
    border-right: 1px solid @syntax-wrap-guide-color;
}

.file-list .list-item.file {
    .icon-x {
        display: none;
    }
}

.file-list .directory {
    .icon-x {
        margin-left: .5em;
    }
}
