// use better font
atom-text-editor {
    font-family: Inconsolata;
    font-size: 13pt;
}

// decrease tree view items height
.list-item, .list-group .selected:before, .list-tree .selected:before {
    line-height: 20px !important;
    height: 20px !important;
}

// hide tab bar if no tabs
.tab-bar:empty {
    display: none;
}

// more subtle invisibles
.editor {
    .invisible-character {
        color: #504949;
        opacity: 0.5;
    }
    .indent-guide {
        opacity: .5;
    }
}

// configure soft-wrap-indicator
.soft-wrap-indicator {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: underline;
    }

    &.lit {
        color: #10BB10;
        text-shadow: none;
    }
}
