"*":
	"autocomplete-plus": {}
	"bracket-matcher":
		autocompleteSmartQuotes: false
	core:
		audioBeep: false
		disabledPackages: [
			"autocomplete"
			"exception-reporting"
			"autoflow"
			"autosave"
			"background-tips"
			"bookmarks"
			"dev-live-reload"
			"encoding-selector"
			"language-toml"
			"metrics"
			"open-on-github"
			"snippets"
			"styleguide"
			"update-package-dependencies"
			"welcome"
			"wrap-guide"
			"rainbow-selection"
		]
		themes: [
			"isotope-ui"
			"monokai"
		]
	editor:
		autoIndentOnPaste: false
		invisibles: {}
		showIndentGuide: true
		showInvisibles: true
		tabLength: 4
	"event-watch":
		data:
			Northbound: [
				"6 12:00"
				"6 12:30"
				"6 1:00"
				"6 1:30"
				"6 2:00"
				"6 2:30"
				"12345 7:03"
				"12345 7:34"
				"12345 8:05"
				"12345 8:41"
				"12345 9:15"
				"12345 9:44"
				"12345 10:15"
				"12345 11:15"
				"12345 12:15"
				"12345 1:15pm"
				"12345 2:15pm"
				"12345 3:15pm"
				"12345 3:44pm"
				"12345 4:19pm"
				"12345 4:55pm"
				"12345 5:27pm"
				"12345 5:57pm"
				"12345 6:30pm"
				"5 7:30pm"
				"5 8:00pm"
				"5 8:30pm"
				"5 9:00pm"
				"5 9:30pm"
				"5 10:00pm"
				"5 10:30pm"
				"5 11:00pm"
				"5 11:30pm"
			]
			Southbound: [
				"12345 6:24"
				"12345 6:56"
				"12345 7:27"
				"12345 7:58"
				"12345 8:34"
				"12345 9:09"
				"12345 9:38"
				"12345 10:38"
				"12345 11:38"
				"12345 12:38"
				"12345 1:38pm"
				"12345 2:38pm"
				"12345 3:09pm"
				"12345 3:38pm"
				"12345 4:13pm"
				"12345 4:43pm"
				"12345 5:19pm"
				"12345 5:51pm"
			]
		displayFormat: "$title: $tminus"
		refreshIntervalMinutes: 5
		warnThresholdMinutes: 15
	"git-blame": {}
	"git-diff":
		showIconsInEditorGutter: true
	"highlight-selected":
		onlyHighlightWholeWords: true
	"isotope-ui":
		backgroundColor: "false"
		customBackgroundColor: true
		customBackgroundColorPicker:
			alpha: 1
			blue: 29
			green: 6
			red: 32
		fontFamily: "Cantarell"
		fontWeight: "Regular"
		lowContrastTooltip: true
	linter:
		lintOnChange: false
	"linter-flake8":
		maxLineLength: 120
	"markdown-preview": {}
	"merge-conflicts":
		gitPath: "/usr/local/bin/git"
	minimap:
		plugins:
			"find-and-replace": true
			"git-diff": true
			"highlight-selected": true
			selection: true
	"omni-ruler":
		columns: [
			73
			80
			100
			120
		]
	"spell-check":
		grammars: [
			"source.gfm"
			"text.plain.null-grammar"
			"source.c++"
			"source.litcoffee"
			"source.css"
			"text.git-commit"
			"source.go"
			"text.html.basic"
			"source.java"
			"source.js"
			"source.json"
			"source.css.less"
			"source.makefile"
			"source.plist"
			"source.python"
			"text.html.erb"
			"source.shell"
			"source.sql"
			"text.plain"
			"text.todo"
			"source.yaml"
		]
	"tree-view":
		hideIgnoredNames: true
		hideVcsIgnoredFiles: true
	"weather-package":
		city: "Austin, Texas"
		showInFahrenheit: true
		showPressure: false
		showTemperature: true
	welcome:
		showOnStartup: false