'atom-text-editor:not([mini])':
  'shift-tab': 'editor:force-tab'

'atom-text-editor:not([mini])':
  'alt-shift-cmd-F': 'next-occurrence:prev'
  'shift-cmd-f': 'next-occurrence:next'

'atom-text-editor':
  'cmd-l': 'unset!'
'atom-workspace':
  'cmd-l': 'nvatom:toggle'
