@import "syntax-variables";
@import "ui-variables";

// better highlight-selected for light themes
atom-text-editor::shadow {
    & when (lightness(@syntax-background-color) > 50%) {
        .highlight-selected .region {
            border-color: fadeout(contrast(@syntax-background-color), 50%) !important;
            background-color: fadeout(@syntax-selection-color, 50%) !important;
        }
    }
}

// make current file in tree-view stand out more
// .tree-view {
//     .list-item.selected::before {
//         background-color: @background-color-highlight !important;
//         color: @text-color-highlight !important;
//     }
// }

// ensure subpixel-antialiased
body * {
    -webkit-font-smoothing: subpixel-antialiased !important;
}

// disable italic comments and source code in any syntax theme
atom-text-editor::shadow {
    .comment, .source * {
        font-style: normal !important;
    }
}

// more subtle invisibles for dark themes
atom-text-editor::shadow {
    & when (lightness(@syntax-background-color) <= 50%) {
        .invisible-character {
            color: #504949;
            opacity: 0.5;
        }
        .indent-guide {
            opacity: .5;
        }
    }
}

// make final wrap guide stand out more
atom-text-editor::shadow {
  .vertical .multi-wrap-guide:last-child .multi-wrap-guide-line {
    background-color: fadeout(red, 60%);
  }
}

// less ugly soft-wrap-indicator
.soft-wrap-indicator {
    color: inherit !important;
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
        color: inherit !important;
    }

    &:active {
        text-decoration: none !important;
        color: inherit !important;
    }

    &.lit {
        color: #10BB10 !important;
        text-shadow: none !important;
    }
}

// 3D effects for tree-view and minimap
// #atom-perspective() {
//     @viewing-distance: 12in;
//     @rotation: 10deg;
//     .tree-view-scroller {
//         transform: translateY(-10vh) perspective(@viewing-distance) rotateY(@rotation);
//         padding-top: 12vh;
//         padding-bottom: 12vh;
//         transform-origin: left;
//         width: 120%;
//         height: 120%;
//     }
//     body /deep/ atom-text-editor-minimap {
//         transform: perspective(@viewing-distance) rotateY(-@rotation);
//         transform-origin: right;
//     }
// }
// #atom-perspective;
